*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

@font-face {
    font-family: "BlueSignature";
    src: url('./assets/fonts/BlueSignature.otf');
}

/************************************** NAVBAR */
.navbar {
    position: fixed;
    top: 10px;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(37, 37, 37, 1);
    padding: 15px;
    border-radius: 10px;
    z-index: 100;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar ul {
    display: none;
    position: absolute;
    flex-direction: column;
    background: rgb(29, 29, 29);
    padding: 20px;
    right: 0;
    top: 4rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    border-radius: 10px;
    width: 80vw;
}


.navbar ul li a {
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar ul li a:hover {
    color: rgb(255, 148, 110);
    cursor: pointer;
}

.icon {
    transform: rotate(90deg);
    font-size: x-large;
    cursor: pointer;
}

#cross {
    display: none;
}


/************************************** PAGES */
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/************************************** HOME */
#identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40%;
    width: 80%;
    background: linear-gradient(rgba(255, 255, 255, 0.4), transparent 50%);
    animation: shadow-box-name infinite ease-in-out 5s;
}

#identity div h1 {
    letter-spacing: 7px;
    animation: glow infinite ease-in-out 2s;
}



@keyframes glow {
    0% {
        text-shadow: 2px 1px 10px rgba(255, 244, 199, 0);
    }

    25% {
        text-shadow: 2px 1px 10px rgba(156, 199, 224, 0.7);
    }

    75% {
        text-shadow: 2px 1px 10px rgba(156, 199, 224, 0.7);
    }

    100% {
        text-shadow: 2px 1px 10px rgba(255, 244, 199, 0);
    }
}

@keyframes shadow-box-name {
    0% {
        box-shadow: 0px -60px 300px rgba(255, 255, 255, 0.6);
    }

    25% {
        box-shadow: 0px -60px 300px rgba(231, 154, 154, 0.6);
    }

    50% {
        box-shadow: 0px -60px 300px rgba(156, 199, 224, 0.6);
    }

    75% {
        box-shadow: 0px -60px 300px rgba(148, 225, 93, 0.6);
        ;
    }

    100% {
        box-shadow: 0px -60px 300px rgba(255, 255, 255, 0.6);
    }
}

/************************************** PROJECTS */
#projets {
    background: #383333;
}

#projets h1 {
    font-family: "BlueSignature";
    font-size: 70px;
    padding-right: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
}

#projets #list-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-project:hover {
    color: rgb(255, 148, 110);
}

/************************************** TRAINING */
#formations {
    background: #3f3f3f
}

#formations h1 {
    font-family: "BlueSignature";
    font-size: 70px;
    width: 100%;
    text-align: center;
}

#formations #training {
    width: 100%;
}

.div-training {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/************************************** XP */
#experiences {
    background: #2c281a;
}

#xp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experiences h1 {
    font-family: "BlueSignature";
    font-size: 70px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
}

#experiences #xp {
    margin-left: 10px;
    padding-left: 10px;
    width: 80%;
}

.company-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container-xp {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.img-div-xp {
    display: flex;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    background: rgba(255, 255, 255, 1);
}

.div-xp-date-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/************************************** CONTACT */
#contact {
    background: #2f2828;
}

#contact h1 {
    font-family: "BlueSignature";
    font-size: 60px;
    width: 100%;
    text-align: center;
}

#contact-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-me div {
    display: flex;
    justify-content: start;
}

.link {
    color: transparent;
}

.label a {
    color: transparent;
}

.label h2 {
    width: 50%;
    font-size :18px
}

.label :nth-child(1) {
    text-align: end;
}

.label :nth-child(2) {
    text-align: start;
}



@media screen and (min-width : 1080px) {

    /* Navbar */
    .navbar {
        flex-direction: row;
    }

    .navbar ul {
        gap: 50px;
        display: flex;
        position: inherit;
        flex-direction: row;
        background: transparent;
        width: auto;
        padding: none;

    }

    #burger {
        display: none;
    }

    /* Homepage */
    #identity {
        height: 40%;
        width: 30%;
    }


    /* Pages */
    .page {
        flex-direction: row;
    }

    /* Projets */
    #projets h1 {
        width: 50%;
        text-align: end;
    }

    #projets #list-projects {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid white;
        width: 50%;
    }

    /* Training */
    #formations h1 {
        font-size: 70px;
        padding-right: 50px;
        width: 50%;
        text-align: end;
    }

    #formations #training {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid white;
        width: 50%;
    }

    .div-training {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .div-training h4,
    .div-training p {
        text-align: start;
    }

    /* XP */
    #xp {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #xp div {
        align-items: start;
    }

    #experiences h1 {
        font-family: "BlueSignature";
        font-size: 100px;
        padding-right: 50px;
        width: 50%;
        text-align: end;
    }

    #experiences #xp {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid white;
        width: 50%;
    }

    .company-profil {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .img-div-xp {
        align-items: start;
    }

    .img-container-xp {
        width: 90%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: start;
    }

    /* Contact */
    #contact h1 {
        font-size: 100px;
        padding-right: 50px;
        width: 50%;
        text-align: end;
    }

    #contact-me {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid white;
        width: 50%;
        display: flex;
    }

    .label {
        width: 100%;
    }

    .label :nth-child(1) {
        width: auto;
        text-align: start;
    }

    .label :nth-child(2) {
        text-align: start;
    }
}

@media screen and (min-width : 1920px) {

    /* Homepage */
    #identity {
        height: 40%;
        width: 20%;
    }
}